In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
pd.read_csv('btc-market-price.csv')

     2017-04-02 00:00:00  1099.169125
0    2017-04-03 00:00:00  1141.813000
1    2017-04-04 00:00:00  1141.600363
2    2017-04-05 00:00:00  1133.079314
3    2017-04-06 00:00:00  1196.307937
4    2017-04-07 00:00:00  1190.454250
..                   ...          ...
359  2018-03-28 00:00:00  7960.380000
360  2018-03-29 00:00:00  7172.280000
361  2018-03-30 00:00:00  6882.531667
362  2018-03-31 00:00:00  6935.480000
363  2018-04-01 00:00:00  6794.105000

[364 rows x 2 columns]

In [6]:
df = pd.read_csv('btc-market-price.csv', header=None)

In [7]:
df.columns = ['Timestamp', 'Price']

In [9]:
df.shape[0]

365

In [10]:
df.tail(3)

               Timestamp        Price
362  2018-03-30 00:00:00  6882.531667
363  2018-03-31 00:00:00  6935.480000
364  2018-04-01 00:00:00  6794.105000

In [12]:
df.dtypes

Timestamp     object
Price        float64
dtype: object

In [13]:
pd.to_datetime(df['Timestamp']).head()

0   2017-04-02
1   2017-04-03
2   2017-04-04
3   2017-04-05
4   2017-04-06
Name: Timestamp, dtype: datetime64[ns]

In [14]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [15]:
df

     Timestamp        Price
0   2017-04-02  1099.169125
1   2017-04-03  1141.813000
2   2017-04-04  1141.600363
3   2017-04-05  1133.079314
4   2017-04-06  1196.307937
..         ...          ...
360 2018-03-28  7960.380000
361 2018-03-29  7172.280000
362 2018-03-30  6882.531667
363 2018-03-31  6935.480000
364 2018-04-01  6794.105000

[365 rows x 2 columns]

In [16]:
df.set_index('Timestamp', inplace=True)

In [17]:
df.loc['2017-09-29']

Price    4193.574667
Name: 2017-09-29 00:00:00, dtype: float64

In [ ]:
df = pd.read_csv('btc-market-price.csv',
                 header=None,
                 names=['Timestamp', 'Price'],
                 index_col=0,
                 parse_dates=True
                )