In [1]:
import numpy as np 
import pandas as pd

In [2]:
pd.isnull(np.nan)

True

In [3]:
pd.isnull(None)

True

In [4]:
pd.isna(np.nan)

True

In [5]:
pd.isna(None)

True

In [6]:
pd.notnull(None)

False

In [8]:
pd.notnull(np.nan)

False

In [11]:
pd.notnull(3)

True

In [12]:
pd.Series([1, np.nan, 7])

0    1.0
1    NaN
2    7.0
dtype: float64

In [14]:
pd.isnull(pd.Series([1, np.nan, 7]))

0    False
1     True
2    False
dtype: bool

In [15]:
pd.notnull(pd.Series([1, np.nan, 7]))

0     True
1    False
2     True
dtype: bool

In [24]:
s = pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
}))

In [25]:
pd.Series([1, 2, np.nan, np.nan]).count()

2

In [26]:
pd.Series([1, 2, np.nan]).sum()

3.0

In [27]:
pd.Series([2, 2, np.nan]).mean()

2.0

In [28]:
pd.notnull(s).sum()

Column A    3
Column B    3
Column C    3
dtype: int64

In [30]:
s = np.array([np.nan])

In [31]:
pd.notnull(s).sum()

0

In [33]:
s = pd.Series([1, 2, 3, np.nan, np.nan, 4])

In [34]:
s.dropna()

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [35]:
s.fillna(0)

0    1.0
1    2.0
2    3.0
3    0.0
4    0.0
5    4.0
dtype: float64

In [37]:
s.fillna(s.mean())

0    1.0
1    2.0
2    3.0
3    2.5
4    2.5
5    4.0
dtype: float64

In [38]:
s.fillna(method='ffill')

0    1.0
1    2.0
2    3.0
3    3.0
4    3.0
5    4.0
dtype: float64

In [41]:
s.fillna(method='bfill')

0    1.0
1    2.0
2    3.0
3    4.0
4    4.0
5    4.0
dtype: float64

In [42]:
df = pd.DataFrame({
    'Sex': ['M', 'F', 'F', 'D', '?'],
    'Age': [29, 30, 24, 290, 25],
})
df

  Sex  Age
0   M   29
1   F   30
2   F   24
3   D  290
4   ?   25

In [43]:
df['Sex'].unique()

array(['M', 'F', 'D', '?'], dtype=object)

In [44]:
df['Sex'].unique()

array(['M', 'F', 'D', '?'], dtype=object)

In [46]:
df['Sex'].replace({'D': 'F', 'N': 'M'})

0    M
1    F
2    F
3    F
4    ?
Name: Sex, dtype: object

In [48]:
df.replace({
    'Sex': {
        'D': 'F',
        'N': 'M'
    },
    'Age': {
        290: 29
    }
})

  Sex  Age
0   M   29
1   F   30
2   F   24
3   F   29
4   ?   25

In [49]:
df[df['Age'] > 100]

  Sex  Age
3   D  290

In [52]:
df.loc[df['Age'] > 100, 'Age'] /= 10

In [53]:
df

  Sex  Age
0   M   29
1   F   30
2   F   24
3   D   29
4   ?   25

In [54]:
ambassadors = pd.Series([
    'France',
    'United Kingdom',
    'United Kingdom',
    'Italy',
    'Germany',
    'Germany',
    'Germany',
], index=[
    'Gérard Araud',
    'Kim Darroch',
    'Peter Westmacott',
    'Armando Varricchio',
    'Peter Wittig',
    'Peter Ammon',
    'Klaus Scharioth '
])

In [55]:
ambassadors.duplicated()

Gérard Araud          False
Kim Darroch           False
Peter Westmacott       True
Armando Varricchio    False
Peter Wittig          False
Peter Ammon            True
Klaus Scharioth        True
dtype: bool

In [56]:
ambassadors.duplicated(keep='last')

Gérard Araud          False
Kim Darroch            True
Peter Westmacott      False
Armando Varricchio    False
Peter Wittig           True
Peter Ammon            True
Klaus Scharioth       False
dtype: bool

In [61]:
df = pd.DataFrame({
    'Data': [
        '.y.fxdxb.pyfxpyxpy.',
        '1990?_M_UK_1',
        '1992_F_US_2',
        '1970?_M_   IT_1',
        '1985_F_I  T_2'
]})

In [62]:
df = df['Data'].str.split('')

In [63]:
df[0]

['',
 '.',
 'y',
 '.',
 'f',
 'x',
 'd',
 'x',
 'b',
 '.',
 'p',
 'y',
 'f',
 'x',
 'p',
 'y',
 'x',
 'p',
 'y',
 '.',
 '']